
<div class="container paymentBody">

    <div class = "headOrder">
        <button ng-click="returnToOrder()" class="fa fa-arrow-left fa-2x container icon col-md-1"></button>
    </div>

    <form class = "formPayment">

        <div class="inputPayment">
            <label>Name on card</label>
            <input type="text">
        </div>

        <div class="inputPayment">
            <label>Credit number</label>
            <input type="text">
        </div>

        <div class="inputPayment col-xs-6">
            <label>Exp. Date</label>
            <input type="date">
        </div>

        <div class="inputPayment col-xs-6">
            <label>CVV</label>
            <input type="text">
        </div>

        <h5 class = "col-xs-7 col-sm-6 col-lg-8"><b>Total: </b>{{Userseats.length}} tikets </h5>
        <button ng-click="sendOrderRequest()" type="submit" class="btn btn-success payBtn">Pay {{getCartPrice()}} NIS</button>

    </form>

    <div class=prudoctsCart>
        <h4>Add food & drink to cart</h4>

        <div ng-repeat = "product in products" class="productBox">
            <span class="badge" ng-show="product.quantity > 1">+{{product.quantity}}</span>
            <img src="{{product.image}}" alt="{{product.name}}">
            <nav>
                <li>{{product.size}}</li>
                <li>{{product.name}}</li>
            </nav>
            <button ng-click="addToCart(product);" class="btn btn-danger">{{product.price}} NIS</button>
        </div>
    </div>
</div>